{% extends 'base.html' %}
{% block content %}
<h2 style="text-align:center;">Parolni o'zgartirish</h2>
<form method="post" style="max-width:400px;margin:auto;">
    {% csrf_token %}
    <input type="password" name="old_password" required placeholder="Eski parol" style="margin-bottom:14px;width:100%;padding:12px;border-radius:8px;border:1.5px solid #e5e7eb;font-size:1.08rem;">
    <input type="password" name="new_password" required placeholder="Yengi parol" style="margin-bottom:14px;width:100%;padding:12px;border-radius:8px;border:1.5px solid #e5e7eb;font-size:1.08rem;">
    <input type="password" name="confirm_password" required placeholder="Yengi parolni tasdiqlash" style="margin-bottom:18px;width:100%;padding:12px;border-radius:8px;border:1.5px solid #e5e7eb;font-size:1.08rem;">
    <input type="submit" value="O'zgartirish" style="width:100%;">
</form>
{% if messages %}
  {% for message in messages %}
    <div class="{% if message.tags %}{{ message.tags }}{% endif %}" style="margin-top:18px; text-align: center;">{{ message }}</div>
  {% endfor %}
{% endif %}
{% endblock %} 